div {
    box-sizing: border-box;
}

#banner {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
}

.feature {
    padding: 3rem auto 3rem auto;
}

.feature-picture {
    max-height: 500px;
}

.big-frame {
    /*background-color: rgb(163, 162, 236);*/
    background: -webkit-linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
    background: -o-linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));(yellow,red);
    background: -moz-linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
    background: linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
}

.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

.wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
    background: linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
}
