body{
	padding-top: 55px;
}
div{
	box-sizing: border-box;
}

h5 {
	line-height: 2rem;
}

.icon{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

/* ------ banner ------- */
#banner{
 	height: 475px;

 	padding-top: 50pt;
   	padding-left: 5%;
   	padding-right: 10%;

   	position: relative;
   	background-size: cover;
    background-image: url("../images/banner.jpg");
    background-attachment: center;

    overflow: hidden;
    text-align: left;
}
@media(max-width: 575px){
	#banner{
		padding-top: 30pt;
	}
}

/* ---------------------- */
/* ------ feature ------- */
.feature {
    padding: 3rem auto 3rem auto;
}

.feature-picture {
    max-height: 500px;
}

.big-frame {
    /*background-color: rgb(163, 162, 236);*/
    background: -webkit-linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
    background: -o-linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
    background: -moz-linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
    background: linear-gradient(rgb(217, 217, 217),rgb(186, 186, 186));
}

.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

.wrapper {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
    background: linear-gradient(rgba(0, 0, 0, 0.03),rgba(0, 0, 0, 0.06));
}
/* ----------------------- */
/* get item  */

/* ------------------------ */
/* ------- get_cover ------ */
#get_item{
	box-sizing: border-box;
	width: 100%;
	height: 40%;
	padding-bottom: 0;
}
#get_item img{
	width: 100%;
	height: 40%;
	opacity: 0.9;
}
/* ---------------------- */
/* ------- footer ------- */
#footer{
	height: 50px;
	vertical-align: center;
	text-align: center;
	background: black;
	color: white;
}
/* ---------------------- */
